<div class="row justify-content-center">
    <div class="col-12 col-md-6 text-center login-tab p-3">
        <h2 class="text-primary"><i class="fas fa-blog text-primary"></i> Write-It-here</h2>
        <div class="seperator py-2"><hr></div>
        <div class="text pb-3">Write your imagination here!</div>
        <a href="/auth/google" class="btn btn-primary goo">
            <i class="fab fa-google p-1"></i> Login with Google
        </a>
    </div>
</div>



 